.container{
    display: flex;
    flex-direction: column;
    
}





/* header */

header, header ul{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    

}

header{
    gap: 166px;
    
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(90deg, rgba(43,74,97,0.87) 0%, rgba(43,74,97,0.87) 35%, rgba(43,74,97,0.87) 100%), url(images/Banner.png);
    border-bottom: solid white 3px;
}


header ul{
    gap: 38px;
    font-family: "Inter", serif;
    color: white;
    font-size: 20px;
    font-weight: 300;
}

button{
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    padding: 5px 37px ;
    font-family: "Headland One", serif;
    
    border: solid#26C7EA 2px;
    background-color: #0B0E66;
    color: #26C7EA;
    font-size: 20px;
    
}



.logo{
    background-image: url(images/AvatarLogo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 186px;
    height: 72px;
    
}

.logo:hover{
    cursor: pointer;
}


/* header */

/* body */

h2{
    font-family: "Inter", serif;
    font-size: 36;
    text-align: center;
    color: #0A3853;

}
.name{
    font-family: "Inter", serif;
    font-size: 24;
    text-align: center;
}

.undertext{
    width: 400px;
    height: 120px;
    align-self: center;
    margin-bottom: 11px;
}

.intro{
    height: 740px;
    background-image: url(images/Img1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 204px;

    

    
    
}




.intro img{
    height: 40px;
    width: 152;
    align-self: center;
    margin-left: 53px;
}

.intro p{
    font-size: 20px;
    font-family: "Inter", serif;
    color: white;
    
}

.intro p:nth-child(1){
    width: 299px;
    height: 96px;
}




.intro p:nth-child(3){
    height: 123px;
    width: 376px;
    
}



.trailer{
    background-image: url(images/Trailer.png);
    height: 741px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}



.words{
    
    background-image: url(images/WordBanner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    height: 704px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.words ul{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 32px;
}

.words li{
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: center;
    justify-content: center;

    font-family: "Headland One", serif;
    font-size: 24px;

    background: linear-gradient(90deg, rgba(255,255,255,0.70) 0%, rgba(255,255,255,0.70) 100%);
    width: 320px;
    height: 240px;
}






.translation{
    color: #141414;
}




/* footer */


footer{
  
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(90deg, rgba(43,74,97,0.87) 0%, rgba(43,74,97,0.87) 35%, rgba(43,74,97,0.87) 100%), url(images/Banner.png);



    color: white;
    font-size: 20px;
    font-family: "Inter", serif;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;

}


.logocont{
    border-right: solid white 2px;
}


footer section :nth-child(1){
    display: flex;
    gap: 310px;
    align-items: center;
}

footer section :nth-child(2){
    display: flex;
    gap: 231px;
    align-items: center;
}

footer a{
    color: white;
    text-decoration: none;

}

